/******** main.css ********/

/**** Général *****************/
*{
    padding: 0; /* Marge intérieure */
    margin: 0; /* Marge extérieure */
    font-family: calibri, 'verdana', sans-serif, arial;
    list-style-type: none; /* Pas de puce */
    font-size: 2rem; /* Taille de base des caractères pour toute la page*/
}

html{
    font-size: 62.5%; /* Pour fixer 1rem = 10px */
    background-color: #F7F7F2;
    height: 100%;
}

body{
    /*background: url(../images/photo-1470093014438-2ede8d7a4818.webp) no-repeat;*/
    background: url(../images/sunset-3645639_960_720.jpg) no-repeat;
    background-attachment: fixed;
    background-size:cover;
    min-height: 100%;
}

main > article {
    width: 80%;
    height: 40vw;
    margin: auto;
    margin-bottom: 2vw;
    background-color: rgb(209, 202, 201, 0.8);
    overflow-y: auto;
    padding: 0 1%;
}

h1, h2, h3 {
    font-family: 'Noto Sans', sans-serif;
}

img {
    width: 80%;
    padding: 1%;
    max-width: 35rem; 
    margin: auto;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
}

h3 {
    font-weight: bold;
}

/**** Menu *****************/
nav{
    /* Menu en gris */
    background-color : #66717E;
    /*background-color : rgb(100,100,100);*/

}

nav > ul > li{
    text-align: center;
    width: 12.5%; /* Taille des cases menus */
    height: 100%;
}

nav a{
    display: block ; /* Un lien occupe toute la largeur de son père ce qui permet de cliquer ailleurs que sur le texte */ 
    color: #FFFFFF;
    text-decoration: none;
    height: 4rem;
    padding-top: 1.5rem;
}

nav a:hover{
    color: #331832;
    background-color: #f1ecce;
    transition-duration: 1s;
}

@media (min-width: 400px) {

    nav > ul {
        display: flex;
    }
}

/******** Entete **************************/
nav{
    position : sticky;
    top: 0;
    left: 0;
    width: 100%;
}

nav li{
    margin: auto;
}

header{
    padding : 0.2rem 0; /* marges intérieures haute, droite, basse et gauche */
    width: 100%;
    height: 5rem;
}

header h1{
    margin : 0;
    color : #383B53;    /* Couleur du texte */
    font-size: 4rem ; 
    padding : 0.2rem 0.2rem 0.2rem 0.2rem ;
    text-align: justify;
}

/********* H2 ***********************/
main h2, aside h2{ /* Configuration des h2 du main et des h2 du aside */
    padding : 0.5% 0 0.3% 0;
    color : #66717E;
    clear : left;/* Pour arrêter le float left des images */
}

/***** Contenu principal ************/
main {
    padding: 10%;
}

main, aside{ /* et secondaire */
    color : #363636;
    text-align: justify;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem ;
}

/***** Pied de page ************/
footer {
    background-color: #66717E;
    color: white;
    padding: 0.3% 1rem 0.2% 2rem;
    position: fixed;
    top: 96%;
    width: 98.8%;
    height: 3.1%;
}

/***** aligner les images *******/
.left {
    float: left;
    margin-left: 5%;
}

.right {
    float: right;
    margin-right: 5%;
}

.active {
    text-decoration: underline; /* Si menu transparent */
}

.deroulant {
    color: white;
}

.deroulant > ul{
    display: none;
    position: absolute;
    background-color: #66717E;
    width: 12.5%;
}

.deroulant:hover ul {
    display: block;
}

.deroulant > p {
    padding-top: 1.5rem;
    height: 4rem;
}

.deroulant > ul > li{
    width: 100%;
}

#mouton {
    width: 30rem;
    height: 20rem;
}