/******** main.css ********/

/**** Général *****************/
*{
    padding: 0; /* Marge intérieure */
    margin: 0; /* Marge extérieure */
    font-family: calibri, 'verdana', sans-serif, arial; 
}

html{
    font-family:  ;
    font-size: 62.5%; /* Pour fixer 1rem = 10px */
    background-color: #F7F7F2;
    height: 100%;
}

body{
    font-size: 2rem; /* Taille de base des caractères pour toute la page*/
    /*background: url(../images/photo-1470093014438-2ede8d7a4818.webp) no-repeat;*/
    background: url(../images/sunset-3645639_960_720.jpg) no-repeat;
    background-attachment: fixed;
    background-size:cover;
    min-height: 100%;
}

main > article {
    width: 80%;
    height: 40vw;
    margin: auto;
    background-color: rgb(209, 202, 201, 0.5);
    overflow-y: auto;
    padding: 0 1%;
}

p{
    margin-bottom: 1rem ;
    font-family: 'roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Noto Sans', sans-serif;
}

img {
    width: 80%;
    padding: 1%;
    max-width: 35rem; 
    margin: auto;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

h3 {
    font-weight: bold;
}

/**** Menu *****************/
nav{
    /* Menu en gris */
    background-color : #66717E;
    /*background-color : rgb(100,100,100);*/

}

nav ul{
    list-style-type: none ; /* Pas de puce */
}

nav li{
    text-align: center;
    /*width: 10%; /* Taille des cases menus */
}

nav a{
    display: block ; /* Un lien occupe toute la largeur de son père ce qui permet de cliquer ailleurs que sur le texte */ 
    color: #FFFFFF;  
    text-decoration: none;
    font-size: 2rem;
    padding: 2rem;
}

nav a:hover{
    color: #331832;
    background-color: #f1ecce;
    transition-duration: 1s;
}

@media (min-width: 400px) {

    nav ul {
        display: flex;
    }

}

/******** Entete **************************/
nav{
    position : sticky;
    top: 0;
    left: 0;
    width: 100%;
}

nav li{
    margin: auto;
}

header{
    padding : 0.2rem 0; /* marges intérieures haute, droite, basse et gauche */
    width: 100%;
    height: 5rem;
}

header h1{
    margin : 0;
    color : #383B53;    /* Couleur du texte */
    font-size: 4rem ; 
    padding : 0.2rem 0.2rem 0.2rem 0.2rem ;
    text-align: justify;
}

header h2{
    color : #B3E5FC;
    margin: 0  ;
    font-size: 3rem ;
    font-weight: normal ; /* Gras */
    font-style: italic ;
}

/********* H2 ***********************/
main h2, aside h2{ /* Configuration des h2 du main et des h2 du aside */
    padding : 0.3em 0 0.2em 0; 
    margin : 0 ; 
    color : #66717E ;
    font-size: 3rem ;
    clear : left ;/* Pour arrêter le float left des images */
}

/***** Contenu principal ************/
main {
    padding: 10%
}

main, aside{ /* et secondaire */
    padding : 1rem 2rem;
    color : #444 ; 
    text-align: justify ; 
    padding : 0.2rem 0.2rem 0.2rem 0.2rem ;
}

/***** Pied de page ************/
footer {
    background-color: #66717E;
    color: white;
    padding: 1rem 1rem 0.2rem 2rem;
    font-size: 2rem;
    position: fixed;
    top: 96%;
    width: 98.8%;
    height: 3.1%;
}

/***** aligner les images *******/
.left {
    float: left;
    margin-left: 5%;
}

.right {
    float: right;
    margin-right: 5%;
}

.active {
    border-bottom: 1px solid #DDD;
    /*text-decoration: underline; /* Si menu transparent */
}
