.centre
{
	overflow		:	scroll;
	text-align		:	left;
	height			:	85%;
	background-color:	white;
	opacity			:	0.7;
}

h3
{
	text-align		:	left;
	margin			:	10px 20px;
	color			:	blue;
}

li
{
	text-align		:	left;
	margin-left		:	20px;
}